src/main/resources/org/estatio/canonical/incominginvoice/v2/incominginvoice-2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<xs:schema targetNamespace="http://canonical.estatio.org/incominginvoice/v2"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://canonical.estatio.org/incominginvoice/v2"
           xmlns:com="http://isis.apache.org/schema/common"
           xmlns:cancom="http://canonical.estatio.org/common/v2"
           xmlns:ord="http://canonical.estatio.org/order/v2"
           xmlns:fin="http://canonical.estatio.org/financial/v2"
>

    <xs:import namespace="http://isis.apache.org/schema/common" schemaLocation="http://isis.apache.org/schema/common/common.xsd"/>
    <xs:import namespace="http://canonical.estatio.org/common/v2" schemaLocation="../../common/v2/common-2.0.xsd"/>
    <xs:import namespace="http://canonical.estatio.org/financial/v2" schemaLocation="../../financial/v2/bankAccount-2.0.xsd"/>
    <xs:import namespace="http://canonical.estatio.org/order/v2" schemaLocation="../../order/v2/order-2.0.xsd"/>

    <xs:element name="incomingInvoiceDto">
        <xs:annotation>
            <xs:documentation>Represents v2.2 of this schema (as per majorVersion.minorVersion @default attribute, below).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="incomingInvoiceType">
                    <xs:sequence>
                        <xs:element name="majorVersion" type="xs:string" minOccurs="1" maxOccurs="1" default="2">
                            <xs:annotation>
                                <xs:documentation>The major version of the schema that an XML instance was created using.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="minorVersion" type="xs:string" minOccurs="1" maxOccurs="1" default="2">
                            <xs:annotation>
                                <xs:documentation>The minor version of the schema that an XML instance was created using.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="incomingInvoiceType">
        <xs:annotation>
            <xs:documentation>
                For &quot;exporting&quot; an already-persistent incoming invoice.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="self" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for this incoming invoice instance in Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceNumber" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The number by which the seller/supplier has identified the invoice (corresponds
                        to ref2 of summary line in Coda).

                        Although this is called a number, note that it could contain non-digit characters, so really
                        is just a string.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fixedAsset" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the Property (fixed asset) if any (eg &quot;CAR&quot;).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="atPath" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Application tenancy path for this invoice in Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="buyerParty" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the party acting as the buyer (typically one of the ECP legal entities, eg &quot;IT01&quot;).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sellerParty" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the party acting as the seller (aka supplier), typically element 6 of CODA, eg &quot;ITFO12345&quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice was raised.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dueDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice is due to have been paid by the buyer.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paymentMethod" type="fin:paymentMethod" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Method by which this invoice will be paid (one of an enumeration).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="receivedDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice was received for processing.

                        In the IncomingInvoice entity this corresponds to dateReceived.  Have renamed here for
                        consistency with dueDate and invoiceDate.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sellerBankAccount" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the seller/supplier's bank account, to pay into.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paymentStatus" type="incomingInvoicePaymentStatus" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Payment status of this incoming invoice, inferred from its approval status.

                        The approval status itself is (for now) not exposed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="items" type="incomingInvoiceItems" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The list of individual invoice items.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codaDocHead" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the corresponding CodaDocHead entity.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="descriptionSummary" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Summary description of this incoming invoice.
                        Introduced in v2.1.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="barcode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Barcode of the scanned paper document used to create this incoming invoice.
                        Introduced in v2.1.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="incomingInvoiceItems">
        <xs:sequence>
            <xs:element name="item" type="incomingInvoiceItemType" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="incomingInvoiceItemType">
        <xs:annotation>
            <xs:documentation>
                This is modelled on the required information to create an IncomingInvoiceItem (as part of an
                IncomingInvoice aggregate).

                The item's fixed asset is currently _not_ part of this definition, because Estatio always (seems to)
                use the fixed asset of the owning invoice (ie the Property).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="self" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for this incoming invoice item instance in Estatio.

                        (As for its parent invoice), this is optional because the DTO may be created from info in Coda, then uploaded to Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="ord:incomingInvoiceTypeType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference to the cost centre of this invoice item.

                        In the case of incoming invoices that originate from CODA, is inferred from the
                        analysis line account code (el5).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of this incoming invoice item
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="netAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Net amount of this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="grossAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gross amount of this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>VAT amount for this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tax" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference to the tax, if known.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dueDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice item is due, if known.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="project" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the project, if known.

                        In the case of incoming invoices that originate from CODA, the project is inferred from
                        ext ref4 of the summary line.

                        Only populated if there is precisely one orderItem linked to this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="order" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the order, if known.

                        In the case of incoming invoices that originate from CODA, the order is inferred from
                        the first part of ext ref3 of the summary line.

                        Only populated if there is precisely one orderItem linked to this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="charge" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the associated charge.

                        In the case of incoming invoices that originate from CODA, the charge is inferred from
                        the ext ref5 (called instead &quot;work type&quot;).

                        Only populated if there is precisely one orderItem linked to this incoming invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="property" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identity of the Property if any of the invoice item (eg &quot;CAR&quot;).
                        Introduced in v2.1.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="propertyExternalReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The external reference (CODA) of the item's Property, if any of the invoice item (eg &quot;FRRHAV0&quot;).
                        Introduced in v2.1.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reportedDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice item was reported to CODA.
                        Introduced in v2.2.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="incomingInvoicePaymentStatus">
        <xs:annotation>
            <xs:documentation>
                Estatio informs Coda of whether the incoming invoice can be paid; this is derived from whether
                it has been approved.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOT_PAYABLE"/>
            <xs:enumeration value="PAYABLE"/>
            <xs:enumeration value="PAID"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
