src/main/resources/org/estatio/canonical/invoice/v2/invoice-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<xs:schema targetNamespace="http://canonical.estatio.org/invoice/v2"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://canonical.estatio.org/invoice/v2"
           xmlns:com="http://isis.apache.org/schema/common"
>

    <xs:import namespace="http://isis.apache.org/schema/common" schemaLocation="http://isis.apache.org/schema/common/common.xsd"/>

    <xs:element name="invoiceDto">
        <xs:annotation>
            <xs:documentation>Represents v2.0 of this schema (as per majorVersion.minorVersion @default attribute, below).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="invoiceType">
                    <xs:sequence>
                        <xs:element name="majorVersion" type="xs:string" minOccurs="1" maxOccurs="1" default="2">
                            <xs:annotation>
                                <xs:documentation>The major version of the schema that an XML instance was created using.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="minorVersion" type="xs:string" minOccurs="1" maxOccurs="1" default="0">
                            <xs:annotation>
                                <xs:documentation>The minor version of the schema that an XML instance was created using.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="invoiceType">
        <xs:sequence>
            <xs:element name="self" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for this invoice instance in Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="atPath" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Application tenancy path for this invoice instance in Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="buyerParty" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for the party instance in Estatio acting as the buyer with respect to this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sellerParty" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for the party instance in Estatio acting as the seller with respect to this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice was raised.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dueDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date that this invoice is due to have been paid by the buyer.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="invoiceNumber" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Invoice number (if any) for this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paymentMethod" type="paymentMethod" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Method by which this invoice will be paid (one of an enumeration).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="collectionNumber" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Collection number (if any) for this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="paidByMandate" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for the bank mandate instance in Estatio (if any) through which this invoice will be paid.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="buyerBankAccount" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for the bank account instance in Estatio (if any) of the buyer party of this invoice.  Provided as a convenience; will be the same as the paidByMandate's bankAccount.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sellerBankAccount" type="com:oidDto" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for the financial account instance in Estatio (if any) of the seller party of this invoice.  This is required for buyers where we have no mandate; we quote this seller's bank account on their invoice ("please pay by cheque to this account" etc etc)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="agreementReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference (if any) of the (lease) agreement with respect to which this invoice was raised.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fixedAssetReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference (if any) of the property fixed asset to which the lease of this invoice relates.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fixedAssetExternalReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>External reference (if any; as per fixedAssetReference) of the property fixed asset to which the lease of this invoice relates.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="items" type="invoiceItems" minOccurs="1" maxOccurs="1"/>
            <xs:element name="netAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Total net amount of all invoice items of this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="grossAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Total gross amount of all invoice items of this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Total VAT amount of all invoice items of this invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invoiceItems">
        <xs:sequence>
            <xs:element name="bankAccount" type="invoiceItemType" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="invoiceItemType">
        <xs:sequence>
            <xs:element name="self" type="com:oidDto" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System identifier for this bank account instance in Estatio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference to the charge (if any) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name of the charge (if any; as per chargeReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeDescription" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the charge (if any; as per chargeReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeExternalReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>External reference of the charge (if any; as per chargeReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeGroupReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference to the charge group (if any; as per chargeReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeGroupName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name of the charge group (if any; as per chargeGroupReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference to the tax (if any) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name of the tax (if any; as per taxReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxDescription" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the tax (if any; as per taxReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxExternalReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>External reference of the tax (if any; as per taxReference) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description (if any) of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="netAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Net amount of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="grossAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Gross amount of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>VAT amount for this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Start date (if any) for this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>End date (if any) for this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectiveStartDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Effective start date (if any) for this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectiveEndDate" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Effective end date (if any) for this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="agreementReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference (if any) of the (lease) agreement with respect to which this invoice was raised.  Will be the same as the agreementReference for the parent invoice.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fixedAssetReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reference (if any) of the unit being leased and for the charge that this invoice item is being raised.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fixedAssetExternalReference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>External reference (if any; as per fixedAssetReference) of the unit being leased and for the charge that this invoice item is being raised.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="occupancyBrand" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Occupancy brand (if any) of the unit being leased with respect to the lease of the parent invoice of this invoice item.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="adjustment" type="xs:boolean" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Whether this invoice item is an adjustment or not.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="paymentMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRECT_DEBIT"/>
            <xs:enumeration value="BANK_TRANSFER"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHEQUE"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
